html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Comic Sans', sans-serif;
    font-weight: 700;
    color: #0985e8;
}


/*
 * Styles for the  card deck
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #ffffbc 0%, #e5a00b 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 5vh 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #818487;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateX(180);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 545px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    display: inline;
    cursor: pointer;
    margin-left: 2vw;
}

.score-titles {
    font-size: 45px;
    font-weight: 700;
    margin-right: 5px;
    color: #3205ff;
}

.score-values {
    font-size: 45px;
    font-weight: 700;
    margin-right: 1vw;
    color: #3205ff;
}

.text-center {
    text-align: center;
}

.star {
     display: inline;
    margin: 2px;
}

.margin-top-2 {
  margin-top: 2vh;
}

.text-right {
    float: right;
}
